@import "tailwindcss";


@theme {
    --color-primary: #2563EB;
    --color-secondary: #1E40AF;
    --color-accent: #60A5FA;

    --color-background: #F8FAFC;
    --color-surface: #FFFFFF;
    --color-text: #0F172A;
}

.dark {
    --color-primary: #3B82F6;
    --color-secondary: #2563EB;
    --color-accent: #60A5FA;

    --color-background: #0F172A;
    --color-surface: #1E293B;
    --color-text: #F8FAFC;
}


body {
    background-color: var(--color-background);
    color: var(--color-text);
}